.link-color {
  text-decoration: none;
  transition-duration: .5s;
}
.link-color:hover img {
  color:red;
}
.link-color:hover {
  color:red;
}
.link-color:active {
  transition-duration: 0ms;
  color:black;
}
