.header__title {
  margin:0 0 auto auto;
  font-family: 'Inter', Arial, sans-serif;
  display:flex;
  align-items: center;
  margin-left:64px;
  height:100%;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 3;
}
