.header__title {
  font-family: 'Inter-Bold', Arial, sans-serif;
  position:absolute;
  left:64px;
  top:16%;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 3;
}
